* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

body {
  background: #cff3e8ff;
  background: url("../images/wave.svg"), url("/public/images/wave.svg");
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: #161616;
}

a {
  color: #161616;
  text-decoration: none;
}

.nav-dropshadow {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 30px #707070;
          box-shadow: 1px 1px 30px #707070;
}

header {
  height: 100vh;
}

header nav {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 60px;
  padding-top: 25px;
  z-index: 3;
}

header nav #logo {
  font-size: 1.2rem;
  padding-left: 2rem;
}

header nav #logo h1 a {
  color: #000;
  text-decoration: none;
}

header nav .hamburger-menu input {
  display: none;
}

header nav .hamburger-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  text-decoration: none;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5px;
}

header nav .hamburger-menu ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: #000;
  padding: 0.2em 0.6em;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header nav .hamburger-menu ul li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff1a4b;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav .hamburger-menu ul li a:hover {
  color: #ff1a4b;
}

header nav .hamburger-menu ul li a:hover::after {
  width: 100%;
  left: 0;
}

header .herobox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% minmax(250px, 25%);
      grid-template-columns: 60% minmax(250px, 25%);
  width: 70%;
  margin: 5rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .herobox .my-info p {
  margin-top: 5vh;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 500;
}

header .herobox img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 20px rgba(32, 32, 32, 0.432);
          box-shadow: 6px 6px 20px rgba(32, 32, 32, 0.432);
}

header .herobox .technical-info {
  text-align: center;
  background: #eafff9;
  border-radius: 20px;
  padding: 5rem 3rem;
  margin-top: -5vh;
  -webkit-box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
          box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
}

header .herobox .technical-info h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  font-size: 1.5em;
}

header .herobox .technical-info p {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
}

.middle-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.middle-section .prog-lang {
  background: #eafff9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 70%;
  margin: 6em auto;
  border-radius: 20px;
  padding: 2em;
  -webkit-box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
          box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
  position: relative;
}

.middle-section .prog-lang h2 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.middle-section .prog-lang .problem-solving {
  text-align: left;
  padding-left: 3rem;
}

.middle-section .prog-lang .problem-solving p {
  padding: 0.8em 0;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}

.middle-section .prog-lang .web-dev {
  text-align: left;
  padding-left: 3rem;
}

.middle-section .prog-lang .web-dev p {
  padding: 0.8em 0;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}

.middle-section .prog-lang .java-img {
  position: absolute;
  bottom: 1.2rem;
  right: -2.2rem;
}

.middle-section .prog-lang .java-img img {
  height: 10em;
  width: auto;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.middle-section .prog-lang .js-img {
  position: absolute;
  right: -1rem;
  top: -2.2rem;
}

.middle-section .prog-lang .js-img img {
  height: 6em;
  width: auto;
  -webkit-box-shadow: -15px 15px 20px rgba(90, 90, 90, 0.164);
          box-shadow: -15px 15px 20px rgba(90, 90, 90, 0.164);
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.middle-section .prog-lang .python-img {
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.middle-section .prog-lang .python-img img {
  height: 7em;
  width: auto;
  -webkit-animation: rotate360 30s infinite linear;
          animation: rotate360 30s infinite linear;
}

.middle-section .my-artwork {
  text-align: center;
  margin: 6em auto;
  background: #eafff9;
  padding: 3rem;
  border-radius: 20px;
  width: 50%;
  -webkit-box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
          box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
  word-spacing: 0.3em;
}

.middle-section .my-artwork h1 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 1;
}

.middle-section .my-artwork h1::after {
  content: "";
  font-weight: 400;
  position: absolute;
  background: #96f3ff;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  top: 2em;
  right: -5em;
}

.middle-section .my-artwork .circles {
  position: relative;
}

.middle-section .my-artwork .circles::before {
  content: "";
  position: absolute;
  background: #96f3ff;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  bottom: 3em;
  left: -2em;
}

.middle-section .my-artwork .circles::after {
  content: "";
  position: absolute;
  background: #96f3ff;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  bottom: -22rem;
  left: 3em;
}

.middle-section .my-artwork ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .my-artwork ul li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  z-index: 2;
  padding: 0.8em;
  margin: 0.5em 1em;
}

.middle-section .my-artwork ul li a {
  position: relative;
  text-decoration: none;
  color: #161616;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  line-height: 1rem;
  border-radius: 10px;
  padding: 0.8em 1.2em;
  background: #eafff9;
  -webkit-box-shadow: 6px 6px 12px #cee0db, -6px -6px 12px #ffffff;
          box-shadow: 6px 6px 12px #cee0db, -6px -6px 12px #ffffff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.middle-section .my-artwork ul li a:hover {
  color: #036a77;
  background: #eafff9;
  -webkit-box-shadow: 34px 34px 68px #c0d1cc, -34px -34px 68px #ffffff;
          box-shadow: 34px 34px 68px #c0d1cc, -34px -34px 68px #ffffff;
}

.middle-section .my-artwork ul li a:active {
  color: #ff1a4b;
  background: #ffffff;
  -webkit-box-shadow: inset 7px -7px 16px #ebebeb, inset -7px 7px 16px #ffffff;
          box-shadow: inset 7px -7px 16px #ebebeb, inset -7px 7px 16px #ffffff;
}

.design-3d {
  background-color: #161616;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0f0f0f), color-stop(46%, #202020), to(#0f0f0f));
  background-image: linear-gradient(0deg, #0f0f0f 0%, #202020 46%, #0f0f0f 100%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  padding-bottom: 5rem;
}

.design-3d h2 {
  color: #fff;
  padding: 2em 0;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.design-3d button {
  display: none;
}

.design-3d .design-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5em, 20%) minmax(5em, 20%) minmax(5em, 20%) minmax(5em, 20%) minmax(5em, 20%);
      grid-template-columns: minmax(5em, 20%) minmax(5em, 20%) minmax(5em, 20%) minmax(5em, 20%) minmax(5em, 20%);
  -webkit-column-gap: 2em;
          column-gap: 2em;
  margin: 0 5%;
  scroll-behavior: smooth;
}

.design-3d .design-img img {
  border-radius: 10px;
  width: 100%;
  min-width: 160px;
  height: auto;
}

.photographs {
  background-color: #161616;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0f0f0f), color-stop(46%, #202020), to(#0f0f0f));
  background-image: linear-gradient(0deg, #0f0f0f 0%, #202020 46%, #0f0f0f 100%);
  text-align: center;
  margin: 5em auto;
}

.photographs h2 {
  color: #fff;
  padding: 3em 0;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  word-spacing: 0.2em;
  text-transform: uppercase;
}

.photographs .photo-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%);
      grid-template-columns: minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%);
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  row-gap: 2%;
}

.photographs .photo-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  min-width: 150px;
}

.photographs p {
  color: #fff;
  padding-top: 5em;
  padding-bottom: 4em;
}

.photographs p a {
  color: #fa5369;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact-me {
  text-align: center;
  background: #eafff9;
  -webkit-box-shadow: 10px 10px 30px #a4c0b7, -10px -10px 30px #eafafa;
          box-shadow: 10px 10px 30px #a4c0b7, -10px -10px 30px #eafafa;
  width: 40%;
  margin: 6em auto;
  padding: 2em 0 5em 0;
  border-radius: 20px;
}

.contact-me h2 {
  padding: 1em 0 3em 0;
}

.contact-me a {
  margin-bottom: 2em;
  border-radius: 10px;
  color: #fff;
  padding: 1em 1.2em;
  background: #e01440;
  -webkit-box-shadow: 5px 5px 15px rgba(240, 39, 65, 0.76);
          box-shadow: 5px 5px 15px rgba(240, 39, 65, 0.76);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.contact-me a:hover {
  background: #009b79;
  -webkit-box-shadow: 5px 5px 15px rgba(39, 240, 173, 0.76);
          box-shadow: 5px 5px 15px rgba(39, 240, 173, 0.76);
}

.contact-me a:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.games {
  text-align: center;
  margin: auto;
  width: 40%;
  background: rgba(234, 255, 249, 0.9);
  border-radius: 20px;
  padding: 4rem;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
          box-shadow: 6px 6px 20px rgba(56, 112, 90, 0.199), -6px -6px 20px rgba(255, 255, 255, 0.521);
  margin-bottom: 10rem;
}

.games h2 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.games p {
  margin: 2rem;
  line-height: 1.8rem;
  font-size: 1.2em;
}

.games p span {
  margin-top: 1em;
  color: #ff1a4b;
  display: block;
  font-weight: 600;
}

footer .footer-top {
  background: #101010;
}

footer .footer-top .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5em 0;
}

footer .footer-top .footer-text .footer-text-left p {
  color: #21afa1;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 3rem;
}

footer .footer-top .footer-text .footer-text-left ul li {
  font-weight: 500;
  font-size: 1.1em;
  list-style-type: none;
  line-height: 3rem;
}

footer .footer-top .footer-text .footer-text-left ul li a {
  text-decoration: none;
  color: #b8b8b8;
}

footer .footer-top .footer-text .footer-text-left ul li a:hover {
  color: #fff;
}

footer .footer-top .footer-text .footer-text-right p {
  color: #21afa1;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 3rem;
}

footer .footer-top .footer-text .footer-text-right ul li {
  color: #b8b8b8;
  font-weight: 500;
  font-size: 1.2em;
  list-style-type: none;
  line-height: 2rem;
}

footer .footer-top .footer-icons {
  padding-bottom: 3em;
}

footer .footer-top .footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 50%;
  margin: auto;
}

footer .footer-top .footer-icons ul li {
  list-style-type: none;
}

footer .footer-top .footer-icons ul li a {
  margin-bottom: 2rem;
}

footer .footer-top .footer-icons ul li a img {
  width: 50px;
  height: auto;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

footer .footer-top .footer-icons ul li a img:hover {
  -webkit-animation: 50ms vibrate 5;
          animation: 50ms vibrate 5;
}

footer .footer-bottom {
  background: #001a18;
  text-align: right;
}

footer .footer-bottom p {
  padding: 10px;
  color: #fff;
}

/* ----------------------------------- Media queries ------------------------------- */
@media (max-width: 1700px) {
  header .herobox {
    width: 75%;
    row-gap: 8vh;
  }
  header .herobox .technical-info {
    padding: 4rem 3rem;
    width: 80%;
    margin: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 1400px) {
  header .herobox {
    width: 75%;
    row-gap: 8vh;
    -webkit-column-gap: -10em;
            column-gap: -10em;
  }
  header .herobox .my-info p {
    font-size: 1.1em;
  }
  header .herobox .technical-info {
    padding: 4rem 3rem;
    width: 80%;
    margin: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  header .herobox .technical-info h1 {
    font-size: 1.4em;
  }
  header .herobox .technical-info p {
    font-size: 1.1em;
  }
  .middle-section .prog-lang h2 {
    font-size: 1.4em;
  }
  .middle-section .prog-lang .problem-solving p {
    font-size: 1.1em;
  }
  .middle-section .prog-lang .web-dev p {
    font-size: 1.1em;
  }
  .middle-section .prog-lang .java-img img {
    height: 8em;
  }
  .middle-section .prog-lang .js-img img {
    height: 5em;
  }
  .middle-section .prog-lang .python-img img {
    height: 6em;
  }
  .middle-section .my-artwork {
    padding: 3em;
    width: 50%;
    margin-left: 0em;
  }
  .middle-section .my-artwork h1 {
    font-size: 1.4em;
  }
  .middle-section .my-artwork ul li {
    font-size: 1.1em;
  }
  .design-3d h2 {
    font-size: 1.4em;
  }
  .photographs h2 {
    font-size: 1.4em;
  }
  .contact-me {
    width: 50%;
  }
  .games {
    padding: 3em;
    width: 50%;
    margin-top: 8rem;
  }
  .games h2 {
    font-size: 1.4em;
  }
  .games p {
    font-size: 1.1em;
  }
  footer .footer-top .footer-text {
    width: 60%;
  }
  footer .footer-top .footer-icons ul {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 1150px) {
  .middle-section .prog-lang {
    padding: 1em;
  }
  .middle-section .prog-lang h2 {
    font-size: 1.2em;
  }
  .middle-section .my-artwork {
    margin-left: 1em;
    padding: 2em;
    width: 60%;
  }
  .middle-section .my-artwork h1 {
    font-size: 1.2em;
  }
  .games {
    margin-top: 6rem;
  }
}

/*-------------------------------- Hamburger media------------------- */
@media (max-width: 1024px) {
  body {
    background-size: contain;
  }
  header nav .hamburger-menu {
    position: relative;
    top: 5px;
    right: 40px;
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  header nav .hamburger-menu ul {
    display: none;
  }
  header nav .hamburger-menu input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: -10px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  header nav .hamburger-menu input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(4px, -1px);
            transform: rotate(45deg) translate(4px, -1px);
    background: #222222;
  }
  header nav .hamburger-menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav .hamburger-menu input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(2px, -1px);
            transform: rotate(-45deg) translate(2px, -1px);
  }
  header nav .hamburger-menu input:checked ~ ul {
    display: block;
    width: 150px;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -5px;
    margin: 0;
    right: -5px;
    padding: 0;
    border-radius: 10px;
  }
  header nav .hamburger-menu input:checked ~ ul li {
    padding: 1em;
    background: #cff3e8ff;
    border-bottom: 1px solid #1a1a1a;
  }
  header nav .hamburger-menu input:checked ~ ul li a {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
  }
  header nav .hamburger-menu input:checked ~ ul li a::after {
    display: none;
  }
  header nav .hamburger-menu input:checked ~ ul li a:hover {
    color: #1655dd;
    padding-left: 5px;
  }
  header nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    background: #161616;
    border-radius: 5px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header nav span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  header nav span:nth-last-child(3) {
    width: 25px;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  header .herobox {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  header .herobox img {
    width: 25vmax;
    margin: 0 auto;
    margin-top: 5vh;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .herobox .my-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 75%;
    margin: 0 auto;
  }
  header .herobox .my-info p {
    font-size: 1.1em;
    text-align: center;
  }
  header .herobox .technical-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 3em;
  }
  header .herobox .technical-info h1 {
    font-size: 1.2em;
  }
  header .herobox .technical-info p {
    font-size: 1.1em;
  }
  .middle-section {
    margin-top: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .middle-section .prog-lang {
    margin-top: 6em;
    padding: 3em;
  }
  .middle-section .prog-lang h2 {
    font-size: 1.2em;
  }
  .middle-section .prog-lang .problem-solving {
    margin-top: 2em;
  }
  .middle-section .prog-lang .problem-solving h3 {
    font-size: 1.1em;
  }
  .middle-section .prog-lang .problem-solving p {
    font-size: 1.1em;
  }
  .middle-section .prog-lang .web-dev {
    margin-top: 2em;
  }
  .middle-section .prog-lang .web-dev h3 {
    font-size: 1.1em;
  }
  .middle-section .prog-lang .web-dev p {
    font-size: 1.1em;
  }
  .middle-section .my-artwork {
    margin: auto;
    padding: 2em;
    margin-bottom: 5em;
  }
  .middle-section .my-artwork h1 {
    font-size: 1.2em;
  }
  .middle-section .my-artwork .circles::before {
    width: 9em;
    height: 9em;
    bottom: -1em;
    left: 2em;
  }
  .middle-section .my-artwork .circles::after {
    bottom: -15rem;
    left: 7em;
  }
  .middle-section .my-artwork ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin: 2.5em auto;
    margin-bottom: none;
  }
  .middle-section .my-artwork ul li {
    font-size: 1.1em;
    margin: 0;
    padding: 1em 0;
  }
  .middle-section .my-artwork ul li a {
    padding: 1em 1.4em;
    width: 100%;
  }
  .design-3d {
    position: relative;
    margin: 0;
  }
  .design-3d h2 {
    font-size: 1.2em;
  }
  .design-3d button {
    position: absolute;
    display: block;
    bottom: 1.2em;
    z-index: 2;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #000;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    width: 3em;
    height: 3em;
    cursor: pointer;
  }
  .design-3d #left {
    left: 4em;
  }
  .design-3d #right {
    right: 4em;
  }
  .design-3d .design-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-column-gap: 3em;
            column-gap: 3em;
    gap: 3em;
    -webkit-overflow-scrolling: touch;
  }
  .design-3d .design-img::-webkit-scrollbar {
    display: none;
  }
  .photographs h2 {
    font-size: 1.2em;
  }
  .contact-me {
    width: 60%;
  }
  .contact-me a {
    padding: 0.8em 1em;
  }
  .games {
    padding: 3em;
    width: 50%;
  }
  .games h2 {
    font-size: 1.2em;
  }
  .games p {
    font-size: 1.1em;
  }
  .contact-me {
    width: 60%;
  }
  .contact-me button a {
    padding: 0.8em 1em;
  }
  footer .footer-top .footer-text {
    width: 65%;
    font-size: 0.9em;
  }
  footer .footer-top .footer-icons ul {
    width: 80%;
  }
  footer .footer-top .footer-icons ul li a img {
    width: 45px;
  }
  footer .footer-bottom {
    text-align: center;
  }
}

@media (max-width: 950px) {
  header .herobox img {
    width: 22vmax;
  }
  header .herobox .my-info p {
    font-size: 1em;
  }
  header .herobox .technical-info {
    width: 80%;
  }
  header .herobox .technical-info h1 {
    font-size: 1em;
  }
  header .herobox .technical-info p {
    font-size: 1em;
  }
  .middle-section .prog-lang {
    width: 60%;
  }
  .middle-section .prog-lang h2 {
    font-size: 1.1em;
  }
  .middle-section .prog-lang .problem-solving h3 {
    font-size: 1em;
  }
  .middle-section .prog-lang .problem-solving p {
    font-size: 1em;
  }
  .middle-section .prog-lang .web-dev h3 {
    font-size: 1em;
  }
  .middle-section .prog-lang .web-dev p {
    font-size: 1em;
  }
  .middle-section .my-artwork h1 {
    font-size: 1em;
  }
  .middle-section .my-artwork .circles::before {
    width: 9em;
    height: 9em;
    bottom: -2em;
    left: 1em;
  }
  .middle-section .my-artwork .circles::after {
    bottom: -13em;
    left: 7em;
  }
  .middle-section .my-artwork ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin: 2.5em auto;
  }
  .middle-section .my-artwork ul li {
    font-size: 1em;
    margin: 0;
    padding: 1em 0;
  }
  .middle-section .my-artwork ul li a {
    padding: 0.9em 1.2em;
  }
  .design-3d h2 {
    font-weight: 400;
  }
  .photographs h2 {
    font-weight: 400;
  }
  .photographs .photo-img {
    -ms-grid-columns: minmax(150px, 25%) minmax(150px, 25%) minmax(150px, 25%);
        grid-template-columns: minmax(150px, 25%) minmax(150px, 25%) minmax(150px, 25%);
    -webkit-column-gap: 3%;
            column-gap: 3%;
    row-gap: 3%;
  }
  .photographs p {
    padding-top: 8em;
  }
  .games {
    padding: 2em;
  }
  .games h2 {
    font-size: 1em;
  }
  .games p {
    font-size: 1em;
  }
}

@media (max-width: 822px) {
  header .herobox .technical-info {
    width: auto;
    border-radius: 0;
  }
  .middle-section .prog-lang {
    width: 70%;
    padding: 3em 1em;
  }
  .middle-section .prog-lang .problem-solving {
    padding-left: 2em;
  }
  .middle-section .prog-lang .web-dev {
    padding-left: 2em;
  }
  .middle-section .my-artwork {
    height: 45%;
    width: 45%;
    margin: auto;
    margin-bottom: 5em;
  }
  .middle-section .my-artwork h1::after {
    display: none;
  }
  .middle-section .my-artwork ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .my-artwork ul li {
    margin: 0.5em 0;
  }
  .middle-section .my-artwork ul li a {
    padding: 1em 2em;
  }
  .middle-section .my-artwork .circles::before {
    bottom: -7em;
    left: 2em;
    background: #b7f5fd;
  }
  .middle-section .my-artwork .circles::after {
    bottom: -17em;
    left: 13em;
    background: #b7f5fd;
  }
  .photographs .photo-img {
    width: 90%;
    margin: auto;
    -ms-grid-columns: minmax(150px, 30%) minmax(150px, 30%) minmax(150px, 30%);
        grid-template-columns: minmax(150px, 30%) minmax(150px, 30%) minmax(150px, 30%);
  }
  .contact-me {
    width: 65%;
  }
  .contact-me h2 {
    padding-bottom: 2em;
  }
  .contact-me a {
    padding: 0.8em 1em;
  }
  .games {
    width: 70%;
  }
  footer .footer-top .footer-text {
    font-size: 0.8em;
  }
}

@media (max-width: 630px) {
  header nav {
    width: 100%;
  }
  header nav span {
    height: 3px;
    width: 30px;
  }
  .middle-section .prog-lang .java-img {
    right: 0em;
    bottom: -1em;
  }
  .middle-section .prog-lang .java-img img {
    height: 6em;
  }
  .middle-section .prog-lang .js-img {
    right: 0em;
    top: -2em;
  }
  .middle-section .prog-lang .js-img img {
    height: 4.2em;
  }
  .middle-section .prog-lang .python-img {
    top: -1em;
    left: -1em;
  }
  .middle-section .prog-lang .python-img img {
    height: 4.2em;
  }
  .photographs .photo-img {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    width: 80%;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
  .photographs .photo-img img:nth-child(2n-1) {
    display: none;
  }
  .contact-me {
    width: 80%;
    font-size: 0.8em;
  }
  .contact-me a {
    font-size: 1.1em;
  }
  footer .footer-top .footer-text {
    width: 70%;
    margin: auto;
    font-size: 0.8em;
  }
  footer .footer-top .footer-icons ul {
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  header .herobox img {
    margin-top: 1em;
  }
  header .herobox .my-info {
    width: 90%;
  }
  header .herobox .my-info p {
    line-height: 3.5vh;
  }
  header .herobox .technical-info {
    padding: 2.2em;
  }
  header .herobox .technical-info p {
    line-height: 3.5vh;
  }
  .middle-section .prog-lang .java-img img {
    height: 4em;
  }
  .middle-section .prog-lang .js-img img {
    height: 3.5em;
  }
  .middle-section .prog-lang .python-img img {
    height: 3.5em;
  }
  .middle-section .my-artwork {
    width: 60%;
  }
  .middle-section .my-artwork ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.2em auto;
  }
  .games {
    width: auto;
    border-radius: 0;
  }
  .contact-me {
    font-size: 0.8em;
  }
  .contact-me a {
    font-size: 1em;
  }
  footer .footer-top .footer-icons ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-top .footer-icons ul li a img {
    width: 40px;
  }
  footer .footer-bottom {
    font-size: 0.8em;
  }
}

@media (max-width: 425px) {
  header nav .hamburger-menu input:checked ~ ul li a {
    font-size: 15px;
  }
  header .herobox img {
    margin-top: 1em;
  }
  header .herobox .my-info {
    width: 90%;
  }
  header .herobox .my-info p {
    line-height: 3.5vh;
    font-size: 0.9em;
  }
  header .herobox .technical-info {
    margin-top: 2em;
    padding: 2em 1em;
  }
  header .herobox .technical-info p {
    font-size: 0.9em;
  }
  .middle-section {
    display: block;
  }
  .middle-section .prog-lang {
    height: 15em;
    width: 100%;
    margin: auto;
    border-radius: 0;
    padding: 1em 0;
  }
  .middle-section .prog-lang .problem-solving p {
    font-size: 0.9em;
  }
  .middle-section .prog-lang .web-dev p {
    font-size: 0.9em;
  }
  .middle-section .prog-lang .java-img {
    bottom: 5em;
    right: 4em;
  }
  .middle-section .prog-lang .js-img {
    top: 15em;
    right: 2em;
  }
  .middle-section .prog-lang .python-img {
    top: 15.5em;
    left: 2em;
  }
  .middle-section .prog-lang .python-img img {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  .middle-section .my-artwork {
    width: 100%;
    padding: 2em 0;
    margin: 5em auto;
    border-radius: 0;
  }
  .middle-section .my-artwork h1 {
    font-size: 1em;
  }
  .middle-section .my-artwork ul {
    height: 120px;
    padding-bottom: 4em;
  }
  .middle-section .my-artwork ul li {
    font-size: 1em;
    padding: 1em 0;
  }
  .middle-section .my-artwork ul li a {
    padding: 0.9em 1.2em;
  }
  .middle-section .my-artwork .circles::before {
    width: 5em;
    height: 5em;
    top: -2em;
    left: 5em;
  }
  .middle-section .my-artwork .circles::after {
    top: 5rem;
    left: 14em;
  }
  .design-3d h2 {
    font-size: 1em;
  }
  .design-3d .design-img {
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .photographs h2 {
    padding: 2em 0;
    font-size: 1em;
  }
  .photographs .photo-img {
    -webkit-column-gap: 1em;
            column-gap: 1em;
    width: 85%;
  }
  .photographs p {
    padding: 4em 0;
    padding-bottom: 3em;
    font-size: 0.9em;
  }
  .games {
    padding: 2em 0;
    margin: 4em auto;
  }
  .games p {
    line-height: 3.5vh;
    font-size: 0.9em;
  }
  footer .footer-top .footer-text {
    padding-top: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-text .footer-text-left p {
    line-height: 3em;
  }
  footer .footer-top .footer-text .footer-text-left ul li {
    line-height: 2em;
  }
  footer .footer-top .footer-text-right {
    margin-top: 2em;
  }
}

@media (max-width: 375px) {
  header .herobox img {
    width: 22vmax;
    margin-top: 0;
    border-radius: 15px;
  }
  .contact-me {
    width: 100%;
    border-radius: 0;
    font-size: 0.7em;
    margin: 4em 0;
    padding: 2em 0 4em 0;
  }
  .contact-me a {
    border-radius: 5px;
  }
  footer .footer-top .footer-icons ul {
    width: 70%;
  }
}

@media (max-width: 360px) {
  header .herobox img {
    width: 22vmax;
    margin-top: 0;
    border-radius: 10px;
  }
  header .herobox .my-info p {
    font-size: 0.85em;
  }
  header .herobox .technical-info h1 {
    font-size: 0.9em;
  }
  header .herobox .technical-info p {
    font-size: 0.85em;
  }
  .middle-section .prog-lang {
    padding: 2em 0;
  }
  .middle-section .prog-lang h2 {
    font-size: 0.9em;
  }
  .middle-section .prog-lang .problem-solving {
    padding-left: 1.5em;
  }
  .middle-section .prog-lang .problem-solving h3 {
    font-size: 0.9em;
  }
  .middle-section .prog-lang .problem-solving p {
    font-size: 0.85em;
  }
  .middle-section .prog-lang .web-dev {
    padding-left: 1.5em;
  }
  .middle-section .prog-lang .web-dev h3 {
    font-size: 0.85em;
  }
  .middle-section .prog-lang .web-dev p {
    font-size: 0.85em;
  }
  .middle-section .prog-lang .java-img {
    bottom: 6em;
  }
  .middle-section .prog-lang .js-img {
    top: 17em;
  }
  .middle-section .prog-lang .js-img img {
    height: 3em;
  }
  .middle-section .prog-lang .python-img {
    top: 17em;
    left: 2em;
  }
  .middle-section .prog-lang .python-img img {
    height: 3em;
  }
  .middle-section .my-artwork {
    padding-top: 2em;
    width: 100%;
    margin: 5em auto;
    border-radius: 0;
  }
  .middle-section .my-artwork h1 {
    font-size: 0.9em;
  }
  .middle-section .my-artwork ul {
    height: 100px;
    padding-bottom: 3em;
  }
  .middle-section .my-artwork ul li {
    font-size: 0.85em;
    padding: 0.8em 0;
  }
  .middle-section .my-artwork .circles::after {
    top: 3em;
    width: 5em;
    height: 5em;
  }
  .design-3d .design-img img {
    min-width: 140px;
  }
  .photographs .photo-img {
    width: 80%;
    margin: auto;
  }
  .photographs .photo-img img {
    min-width: 120px;
  }
}

@media (max-width: 320px) {
  header .herobox img {
    width: 20vmax;
    margin-top: 0;
  }
  header .herobox .my-info p {
    font-size: 0.9em;
  }
  header .herobox .technical-info {
    margin-top: 1em;
  }
  header .herobox .technical-info h1 {
    font-size: 0.9em;
  }
  header .herobox .technical-info p {
    font-size: 0.9em;
  }
  .middle-section .prog-lang {
    margin-top: 3em;
  }
  .games {
    padding-bottom: 1em;
  }
  .games p {
    font-size: 0.9em;
  }
  footer {
    font-size: 0.9em;
  }
}

@-webkit-keyframes vibrate {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes vibrate {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@-webkit-keyframes rotate360 {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=about.css.map */