//GENERALCOLORS
$accent-red: #ff1a4b;
$accent-blue: #1655dd;
$accent-teal: #37f7e3;
$background-color: #cff3e8;

//TEXT COLORS
$black-text: #161616;
$color-white: #fff;
$color-black: #000;
$color-blue: #0c72f9;
$color-grey-placeholder: #b1b1b1;
$color-green-success: #70be70;

//BUTTONS
$button-color-red: #e01440;
$button-color-green: #04a877;

//INDEX VARS
$slogan-color: #1b584b;
$slogan-color-black: #1a1a1a;
$slogan-color-white: #fff;
$project-textbox-color: #e2fdf5cc;

//-Check Github
$check-github-black: #171515;
$check-github-white: #e2e2e2;

//ABOUT VARS
$textbox-background: #eafff9;
$circle-background: #96f3ff;
$circle-background-2: #96f3ff;
$textbox-background: #eafff9e6;

//FOOTER VARS
$footer-heading-color: #21afa1;
$footer-top-color: #101010;
$footer-bottom-color: #131313;
$footer-text-hover: #b8b8b8;

//SIZES
$normal-text: 1.2rem;
$para-size: 1.2em;
$head-size: 1.5em;
$body-max-width: 1440px;

//FONTS
$head-font: "Montserrat", sans-serif;
$para-font: "Open Sans", sans-serif;

$box-shadow-white: 6px 6px 20px rgba(56, 112, 90, 0.199),
  -6px -6px 20px rgba(255, 255, 255, 0.521);
